<p-table
  #dt
  [value]="value"
  styleClass="p-datatable-striped p-datatable-sm"
  dataKey="id"
  [rowHover]="true"
  [lazy]="true"
  [paginator]="false"
  [scrollable]="true"
  scrollHeight="flex"
>
  <ng-template pTemplate="header">
    <th *ngFor="let column of COLUMNS" header>
      <span class="badge table-column-grey-text text-nowrap">{{ column }}</span>
    </th></ng-template
  >

  <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
    <tr>
      <td>
        <span>{{ person }}</span>
      </td>

      <td>
        <span>{{ person }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
